h1{
    text-align: center;
}

.capa1{
    color: white;
    background-color: #8ED6F0;
}

.capa2 {
    color: white;
    background-color : #4FC0E8;
}

.capa3 {
    color: white;
    background-color : #14AADF;
}

.text-white {
    color: #ffffff;
}

i{
    margin-right: 8px;
}

.spaced{
    margin: 0 10px
}